<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f7bc2f3e-e258-4b53-85d5-784ebbdc3429/resourceGroups/RetailBankingSystem/providers/Microsoft.ContainerRegistry/registries/accountmicroacr</ResourceId>
    <ResourceName>accountmicroacr</ResourceName>
    <ResourceGroup>RetailBankingSystem</ResourceGroup>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <RegistryUrl>https://accountmicroacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ad8d2f26-c405-4ee8-b530-45267e269957</ProjectGuid>
  </PropertyGroup>
</Project>